<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.super_movie.mapper.PersonMapper">
    <select id="findMovieByPerson" resultType="com.example.super_movie.vo.PersonMovie" parameterType="java.lang.Integer" >
        SELECT DISTINCT movie.id as movie_id,movie.name as movie_name,movie.time
        FROM person_movie left join movie on person_movie.movie_id=movie.id
        WHERE person_id = #{personId} order by time
    </select>
    <select id="findJobByPersonId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
        SELECT DISTINCT job FROM person_movie WHERE person_id=#{personId} order by job
    </select>
    <insert id="addPerson" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
    insert into person (name,sex,born,info,eng_name,country)
    values (#{name},#{sex},#{born},#{info},#{engName},#{country})
    </insert>
    <insert id="addPersonForMovie">
        replace into person_movie (person_id,movie_id,job) values(#{personId},#{movieId},#{job})
    </insert>
    <delete id="deletePersonMovie">
        delete from person_movie where person_id=#{personId} and movie_id=#{movieId} and job=#{job}
    </delete>
    <select id="getPersonByMovieIdAndJob" resultType="com.example.super_movie.entity.Person" parameterType="java.lang.Integer">
        select person.* from person JOIN person_movie on person.id=person_movie.person_id
        WHERE job=#{job} and movie_id=#{movieId}
    </select>
    <select id="searchPerson" resultType="com.example.super_movie.entity.Person" parameterType="java.lang.String">
        select * FROM person WHERE name like "%"#{name}"%" or id=#{name}
    </select>

</mapper>
