<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.super_movie.mapper.UserMapper">
    <insert id="save">
  insert into user (username,email,password,state,code)
  values (#{username},#{email},#{password},#{state},#{code})
    </insert>
    <update id="activeUser">
  update user set
    state=1
  where code = #{code}
    </update>
    <select id="getStateByeMail" resultType="com.example.super_movie.entity.User" parameterType="String" >
        select  *
        from user
        where email = #{email}
    </select>
    <select id="getUserInfoById" resultType="com.example.super_movie.vo.UserInfo" parameterType="java.lang.Integer" >
        select id,username,introduction
        FROM user
        WHERE id=#{id}
    </select>
    <select id="getFollowByUserId" resultType="String" parameterType="java.lang.Integer" >
        select cast(follow_id as char )
        FROM follow
        WHERE user_id=#{userId}
    </select>
    <update id="updateUserInfo">
    update user set
    username=#{username},introduction=#{introduction}
    where id = #{userId}
    </update>
    <update id="updatePassword">
    update user set
    password=#{newPassword}
    where id = #{userId} and password=#{password}
    </update>
    <update id="banUser">
    update user set
    time=#{time}
    where id =#{userId}
    </update>
</mapper>
