<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>站内邮件</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style1.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/faqstyle.css" type="text/css" media="all" />
    <link href="css/medile.css" rel='stylesheet' type='text/css' />
    <link href="css/single.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/contactstyle.css" type="text/css" media="all" />
    <!-- news-css -->
    <link rel="stylesheet" href="news-css/news.css" type="text/css" media="all" />
    <!-- //news-css -->
    <!-- list-css -->
    <link rel="stylesheet" href="list-css/list.css" type="text/css" media="all" />
    <!-- //list-css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- //js -->
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
</head>
<div style="z-index: 999;padding-top:80px;display: none; position: absolute;height: 100vh; width: 100vw;background-color: rgba(26,26,26,.65);"
            id="modal">
    <div style="text-align:center;border:1px solid black;margin: auto;height: 500px;width: 500px; background-color: #fff;">
        <br>
        <h4>发送给:<span id="replyUsername" name="0"></span><span style="color: #bd081c">(id=</span><span style="color: #bd081c" id="replyId"></span><span style="color: #bd081c">)</span><button style="float: right;border-width: 0px; border-radius: 3px; background: red;cursor: pointer; outline: none; font-family: Microsoft YaHei; color: white;font-size: 17px;" onclick="remove()">×</button></h4>
        <br>
        标题:<input id="title" style="width: 300px;border-radius: 3px;" autocomplete="off">
        <br>
        <br>
        <textarea id="content" style="width: 350px;height: 340px"></textarea>
        <br>
        <button style="border-width: 0px; border-radius: 3px; background: #ffc107;cursor: pointer; outline: none; font-family: Microsoft YaHei; color: white;font-size: 17px;" onclick="sendMessage()">&nbsp;&nbsp;&nbsp;&nbsp;发送&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>
<body>
<!--<div th:utext="${movieComment.getContent()}"></div>-->
<!-- header -->
<div class="header">
    <div class="container">
        <div class="w3layouts_logo">
            <a href="index.html"><h1>SP<span>Movie</span></h1></a>
        </div>
        <div class="w3_search">
            <form action="/search" method="get">
                <input type="text" name="name" placeholder="输入搜索内容" required="">
                <input type="submit" value="搜索">
            </form>
        </div>
        <div class="w3l_sign_in_register">
            <ul>
                <li><a href="/message"  target="_blank"><span class="fa fa-bell"></span><span id="messageState">无新消息</span></a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                登 录 & 注 册
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Click Me</div>
                            </div>
                            <div class="form">
                                <h3>登 录</h3>
                                <input id="email" type="text" name="email" placeholder="邮箱" required="">
                                <input id="password" type="password" name="password" placeholder="password" required="">
                                <input onclick="login()" type="submit" value="登录">
                            </div>
                            <div class="form">
                                <h3>注 册</h3>
                                <form action="/create" method="post">
                                    <input type="text" name="username" placeholder="昵称" required="">
                                    <input type="text" name="email" placeholder="邮箱" required="">
                                    <input type="password" name="password" placeholder="密码" required="">
                                    <input type="submit" value="注册">
                                </form>
                            </div>
                            <div class="cta"><a href="#">忘记密码</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $('.toggle').click(function(){
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
<div class="movies_nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="w3_home_act"><a href="/index">主页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">分类 <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3" style="width: 10px">
                                <li>
                                    <div>
                                        <ul class="multi-column-dropdown">
                                            <li><a href="/movieSelect?state=1">科幻</a></li>
                                            <li><a href="/movieSelect?state=2">喜剧</a></li>
                                            <li><a href="/movieSelect?state=3">恐怖</a></li>
                                            <li><a href="/movieSelect?state=4">爱情</a></li>
                                            <li><a href="/movieSelect?state=5">悬疑</a></li>
                                            <li><a href="/movieSelect?state=6">动作</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/movieRank">排行榜</a></li>
                        <li><a href="/userInfo">我的影评</a></li>
                        <li><a href="/message">我的消息</a></li>
                        <li><a href="/settings">设置</a></li>
                        <li><a href="/loginOut">注销</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- faq-banner -->
<div class="faq">
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>我的邮件</li>
            </ol>
        </div>
        <div class="agileinfo-news-top-grids">
            <div class="col-md-8 wthree-top-news-left">
                <div th:fragment="messageListSpace" id="messageListSpace">
                    <div class="wthree-news-left">
                        <h4>收件箱</h4>
                        <div th:if="${messageList.size()==0}">
                            <h3 class="head">空空如也</h3>
                        </div>
                        <div th:id="'message'+${message.id}" style="display: block" th:each="message:${messageList}" class="wthree-news-top-left">
                            <table>
                                <tr>
                                    <td valign="top" rowspan="3"><div style="width:60px; height:60px; border-radius:50%; overflow:hidden;">
                                        <img src="/show?fileName=1c0a3cd803d24afc97da0179d0526eff.jpg" width="60" height="60" >
                                    </div></td>
                                    <td rowspan="3">&nbsp;&nbsp;</td>
                                    <td valign="top" style="width: 20%;font-weight: 600;color: #777777"><a th:href="@{'userInfo?id='+${message.sendId}}"><span th:text="${message.username}"></span><span style="color: #bd081c" th:text="'(id:'+${message.sendId}+')'"></span></a><a href="javascript:void(0);" th:onclick="addBlackList([[${message.sendId}]])" ><span class="badge">拉黑</span></a></td>
                                    <td valign="top" align="right" width="90%" style="font-weight: 500;color: #bb7b29"><span th:text="${message.createTime}"></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="font-weight: 300"><span th:text="${message.title}"></span><button th:onclick="open1([[${message.id}]]);" style="border-width: 0px; border-radius: 3px; background: #E89B29;cursor: pointer; outline: none; color: white;font-size: 13px;">展开</button><button th:onclick="deleteMessage([[${message.id}]]);" style="border-width: 0px; border-radius: 3px; background: red;cursor: pointer; outline: none; font-family: Microsoft YaHei; color: white;font-size: 17px;float: right">删除</button><span style="float: right;">&nbsp;</span><button th:onclick="show([[${message.username}]],[[${message.sendId}]]);" style="border-width: 0px; border-radius: 3px; background: #E89B29;cursor: pointer; outline: none; font-family: Microsoft YaHei; color: white;font-size: 17px;float: right">回复</button></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="word-break:break-all;font-weight: 300"><span th:id="'content'+${message.id}" style="display:none;" th:text="${message.content}"></span> </td>
                                </tr>
                            </table>
                            <div class="clearfix"> </div>
                        </div>
                        <div name="page" th:if="${page} gt 1" align="center">
                            <a href="javascript:void(0);" onclick="previousPage()">上一页</a>
                            &nbsp;<span id="pageNum" th:text="${pageNum}"></span>&nbsp;
                            <a href="javascript:void(0);" onclick="nextPage()">下一页</a><br>
                            共<span id="page" th:text="${page}"></span>页
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wthree-news-right">
                <!-- news-right-top -->
                <div class="news-right-top">
                    <div align="center" class="wthree-news-right-top">
                        <h3>我</h3>
                        <br>
                        <div style="width:200px; height:200px; border-radius:50%; overflow:hidden;">
                            <img src="/show?fileName=1c0a3cd803d24afc97da0179d0526eff.jpg" width="200" height="200">
                        </div>
                        <br>
                        <h3><a th:href="@{'userInfo?id='+${writer.id}}"><span th:text="${writer.username}"></span></a></h3>
                        <br>
                        <h4><span id="followNum" th:text="${writer.followNum}"></span>个粉丝</h4>
                        <br>
<!--                        <button style="border-width: 0px; border-radius: 3px; background: #E89B29;cursor: pointer; outline: none;  color: white;font-size: 17px;" onclick="follow()"><span th:if="not ${writer.followState}" id="followState">关注</span><span th:if="${writer.followState}" id="followState">已关注</span></button>-->
<!--                        <br>-->
                        <br>
                        <h4><span th:text="${writer.introduction}"></span></h4>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //faq-banner -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>订阅我们的消息</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="您的邮箱" required="">
                            <input type="submit" value="订阅">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="index.html"><h2>SP<span>movie</span></h2></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>Copyright &copy; 2020.Company name All rights reserved.</p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="#">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<script type="text/javascript" th:inline="javascript">
    var userId=[[${writer.id}]];
    function nextPage() {
        var page=document.getElementById("page").textContent;
        var pageNum=document.getElementById("pageNum").innerText;
        console.log(pageNum);
        console.log(page);
        console.log(parseInt(pageNum)<parseInt(page));
        if (parseInt(pageNum)<parseInt(page)){
            pageNum++;
            $('#messageListSpace').load("/message?page="+pageNum);
        }
    }
    function previousPage() {
        var pageNum=document.getElementById("pageNum").textContent;
        if(parseInt(pageNum)>1){
            pageNum--;
            $('#messageListSpace').load("/message?page="+pageNum);
        }
    }
    function follow() {
        var state1=document.getElementById("followState").innerText;
        var followNum=document.getElementById("followNum").innerText;
        var f=followNum;
        if (state1=="关注"){
            followNum++;
            document.getElementById("followState").innerText="已关注";
        }else {
            followNum--;
            document.getElementById("followState").innerText="关注";
        }
        document.getElementById("followNum").innerText=followNum;
        $.ajax({
            url:"follow",
            data:{"followId":userId},
            async:true,
            type:"get",
            dataType:"json",
            success:function(state){
                if (state==0){
                    document.getElementById("followNum").innerText=f;
                    document.getElementById("followState").innerText=state1;
                    alert("不能关注自己");
                }
                if (state==1){
                    alert("关注成功");
                }
                if (state==-1){
                    alert("取消关注成功");
                }
            },
            error:function(error) {
                alert("服务器繁忙");
                alert(error);
            }
        });
    }
    function open1(id) {
        var display=document.getElementById("content"+id).style
        if (display.display=="none"){
            display.display="block"
        }else {
            display.display="none"
        }
    }
    function deleteMessage(id) {
        alert("确定删除？");
        $.ajax({
            url:"deleteMessage",
            data:{"id":id},
            async:false,
            type:"post",
            dataType:"json",
            success:function(state){
                if (state){
                    document.getElementById("message"+id).style.display="none";
                }else {
                    alert("删除失败,可能原因为此信息已被删除");
                }
            },
            error:function(error) {
                alert("服务器繁忙");
                alert(error);
            }
        });
    }
    function show(username,sendId) {
        document.getElementById("replyUsername").innerText=username
        document.getElementById("replyId").innerText=sendId
        let modal = document.getElementById("modal")
        modal.style.display = "block"
        modal.style.top = document.documentElement.scrollTop + 'px'
        document.body.style = "overflow-y: hidden;overflow-x: hidden;"
    }
    function remove() {
        let modal = document.getElementById("modal")
        modal.style.display = "none"
        document.body.style = ""
        document.getElementById("title").value=""
        document.getElementById("content").value=""
    }
    function sendMessage() {
        $.ajax({
            url:"sendMessage",
            data:{"receiveId":document.getElementById("replyId").innerText,"title":document.getElementById("title").value,"content":document.getElementById("content").value},
            async:false,
            type:"post",
            dataType:"json",
            success:function(state){
                if (state==1){
                    alert("发送成功");
                }
                if (state==0){
                    alert("用户不存在")
                }
                if (state==-1){
                    alert("小伙子，你被他拉黑了")
                }
                remove();
            },
            error:function(error) {
                alert("服务器繁忙");
                alert(error);
            }
        });

    }
    function addBlackList(id) {
        $.ajax({
            url:"addBlackList",
            data:{"id":id},
            async:false,
            type:"post",
            dataType:"json",
            success:function(state){
                if (state==1){
                    alert("加入黑名单成功");
                }
                if (state==0){
                    alert("用户不存在")
                }
                if (state==-1){
                    alert("不可重复拉黑")
                }
                remove();
            },
            error:function(error) {
                alert("服务器繁忙");
                alert(error);
            }
        });
    }

</script>
</body>
</html>