<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>影评</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style1.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/faqstyle.css" type="text/css" media="all" />
    <link href="css/medile.css" rel='stylesheet' type='text/css' />
    <link href="css/single.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/contactstyle.css" type="text/css" media="all" />
    <!-- news-css -->
    <link rel="stylesheet" href="news-css/news.css" type="text/css" media="all" />
    <!-- //news-css -->
    <!-- list-css -->
    <link rel="stylesheet" href="list-css/list.css" type="text/css" media="all" />
    <!-- //list-css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- //js -->
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
<!--<style>-->
<!--    /* table 样式 */-->
<!--    table {-->
<!--        border-top: 1px solid #ccc;-->
<!--        border-left: 1px solid #ccc;-->
<!--    }-->
<!--    table td,-->
<!--    table th {-->
<!--        border-bottom: 1px solid #ccc;-->
<!--        border-right: 1px solid #ccc;-->
<!--        padding: 3px 5px;-->
<!--    }-->
<!--    table th {-->
<!--        border-bottom: 2px solid #ccc;-->
<!--        text-align: center;-->
<!--    }-->

<!--    /* blockquote 样式 */-->
<!--    blockquote {-->
<!--        display: block;-->
<!--        border-left: 8px solid #d0e5f2;-->
<!--        padding: 5px 10px;-->
<!--        margin: 10px 0;-->
<!--        line-height: 1.4;-->
<!--        font-size: 100%;-->
<!--        background-color: #f1f1f1;-->
<!--    }-->

<!--    /* code 样式 */-->
<!--    code {-->
<!--        display: inline-block;-->
<!--        *display: inline;-->
<!--        *zoom: 1;-->
<!--        background-color: #f1f1f1;-->
<!--        border-radius: 3px;-->
<!--        padding: 3px 5px;-->
<!--        margin: 0 3px;-->
<!--    }-->
<!--    pre code {-->
<!--        display: block;-->
<!--    }-->

<!--    /* ul ol 样式 */-->
<!--    ul, ol {-->
<!--        margin: 10px 0 10px 20px;-->
<!--    }-->
<!--</style>-->
</head>
<div style="z-index: 999;padding-top:80px;display: none; position: absolute;height: 100vh; width: 100vw;background-color: rgba(26,26,26,.65);"
     id="modal">
    <div style="text-align:center;border:1px solid black;margin: auto;height: 500px;width: 500px; background-color: #fff;">
        <br>
        <h4>发送给:<span id="replyUsername" name="0"></span><span style="color: #bd081c">(id=</span><span style="color: #bd081c" id="replyId"></span><span style="color: #bd081c">)</span><button style="float: right;border-width: 0px; border-radius: 3px; background: red;cursor: pointer; outline: none; font-family: Microsoft YaHei; color: white;font-size: 17px;" onclick="remove()">×</button></h4>
        <br>
        标题:<input id="title" name="title" style="width: 300px;border-radius: 3px;" autocomplete="off">
        <br>
        <br>
        <textarea id="content" style="width: 350px;height: 340px"></textarea>
        <br>
        <button style="border-width: 0px; border-radius: 3px; background: #ffc107;cursor: pointer; outline: none; font-family: Microsoft YaHei; color: white;font-size: 17px;" onclick="sendMessage()">&nbsp;&nbsp;&nbsp;&nbsp;发送&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>
<body onload="getMessageState()">
<!--<div th:utext="${movieComment.getContent()}"></div>-->
<!-- header -->
<div class="header">
    <div class="container">
        <div class="w3layouts_logo">
            <a href="index.html"><h1>SP<span>Movie</span></h1></a>
        </div>
        <div class="w3_search">
            <form action="/search" method="get">
                <input type="text" name="name" placeholder="输入搜索内容" required="">
                <input type="submit" value="搜索">
            </form>
        </div>
        <div th:if="${loginId==null}" class="w3l_sign_in_register">
            <ul>
                <li><a href="#" data-toggle="modal" data-target="#myModal">登录</a></li>
            </ul>
        </div>
        <div th:if="${loginId!=null}" class="w3l_sign_in_register">
            <ul>
                <li><a href="/message"  target="_blank"><span class="fa fa-bell"></span><span id="messageState">无新消息</span></a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                登 录 & 注 册
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Click Me</div>
                            </div>
                            <div class="form">
                                <h3>登 录</h3>
                                <input id="email" type="text" name="email" placeholder="邮箱" required="">
                                <input id="password" type="password" name="password" placeholder="password" required="">
                                <input onclick="login()" type="submit" value="登录">
                            </div>
                            <div class="form">
                                <h3>注 册</h3>
                                <form action="/create" method="post">
                                    <input type="text" name="username" placeholder="昵称" required="">
                                    <input type="text" name="email" placeholder="邮箱" required="">
                                    <input type="password" name="password" placeholder="密码" required="">
                                    <input type="submit" value="注册">
                                </form>
                            </div>
                            <div class="cta"><a href="#">忘记密码</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $('.toggle').click(function(){
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
<div class="movies_nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="w3_home_act"><a href="/index">主页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">分类 <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3" style="width: 10px">
                                <li>
                                    <div>
                                        <ul class="multi-column-dropdown">
                                            <li><a href="/movieSelect?state=1">科幻</a></li>
                                            <li><a href="/movieSelect?state=2">喜剧</a></li>
                                            <li><a href="/movieSelect?state=3">恐怖</a></li>
                                            <li><a href="/movieSelect?state=4">爱情</a></li>
                                            <li><a href="/movieSelect?state=5">悬疑</a></li>
                                            <li><a href="/movieSelect?state=6">动作</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/movieRank">排行榜</a></li>
                        <li><a href="/userInfo">我的影评</a></li>
                        <li><a href="/message">我的消息</a></li>
                        <li><a href="/settings">设置</a></li>
                        <li><a th:if="${loginId!=null}" href="/loginOut">注销</a><a th:if="${loginId==null}" href="#" data-toggle="modal" data-target="#myModal">登录</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!--</div>-->
<!-- faq-banner -->
<div class="faq">
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <li><a href="/index">主页</a></li>
                <li><a th:href="@{'movieInfo?movieId='+${movieComment.movieId}}"><span th:text="${movieComment.name}"></span></a></li>
                <li><a th:href="@{'movieCommentList?movieId='+${movieComment.movieId}}" style="font-size: 15px;float: right;color: #777777">影评列表</a></li>
                <li class="active"><span th:text="${writer.username}"></span>的影评</li>
            </ol>
        </div>
        <div class="agileinfo-news-top-grids">
            <div class="col-md-8 wthree-top-news-left">
                <div class="wthree-news-left">
                    <div class="wthree-news-left-img">
                        <h4><span th:text="${movieComment.title}"></span><a style="color: red" class="agile-icon" href="javascript:void(0);" th:onclick="report([[${movieComment.id}]],false)"><i class="fa fa-exclamation"></i>举报</a><span style="float: right;color: #ffc107" th:text="评分：+${movieComment.score}"></span> </h4>
                        <div class="s-author">
                            <p>作者：<a th:href="@{'userInfo?id='+${movieComment.userId}}"><span th:text="${writer.username}"></span></a> &nbsp;&nbsp;发布时间：<span th:text="${movieComment.createTime.toLocalDate()}"></span>&nbsp;&nbsp;最后修改：<span th:text="${movieComment.updateTime.toLocalDate()}"></span></p>
                        </div>
                        <div id="fb-root"></div>
                        <div th:utext="${movieComment.getContent()}" >
                        </div>
                        <div align="center" th:if="${not movieComment.state}"><h2 id="likeButton" style="color: lightsteelblue;"><button onclick="like()" style="outline:none;border:none;background-color:transparent;">♥</button></h2><span id="likeNum" th:text="${movieComment.like}"></span>人点赞</div>
                        <div align="center" th:if="${movieComment.state}"><h2 id="likeButton" style="color: deeppink;"><button onclick="like()" style="outline:none;border:none;background-color:transparent;">♥</button></h2><span id="likeNum" th:text="${movieComment.like}"></span>人点赞</div>
                    </div>
                </div>
                <div class="wthree-related-news-left" >
                    <div th:fragment="replySpace" id="replySpace">
                        <div th:switch="${order}">
                            <div th:case="0">
                                <h4>评论<a id="replyList" name="replyList"  href="javascript:void(0);" onclick="toOrderDesc()" style="font-size: 15px;float: right;color: #777777">正序</a></h4>
                            </div>
                            <div th:case="1">
                                <h4>评论<a id="replyList" name="replyList" href="javascript:void(0);" onclick="toOrder()" style="font-size: 15px;float: right;color: #777777">倒序</a></h4>
                            </div>
                            <div th:case="*">
                                <h4>评论<a id="replyList" name="replyList" href="javascript:void(0);" onclick="toOrderDesc()" style="font-size: 15px;float: right;color: #777777">正序</a></h4>
                            </div>
                        </div>
                    <div th:each="reply:${replyList}"  class="wthree-news-top-left">
                        <div th:if="${reply.state==1}" style="width: 100%;">
                            <div style="display: inline-block; width: 60px;height: 60px;border-radius:50%;overflow:hidden;vertical-align: top; ">
                                <img  src="/show?fileName=1c0a3cd803d24afc97da0179d0526eff.jpg" width="60" height="60" >
                            </div>
                            <div style="display: inline-block;width: 90%;">
                                <div style="height: 25px">
                                    <a th:href="@{'userInfo?id='+${reply.userId}}"><p style="float: left;color: #6F6F6F;font-weight: 600" th:text="${reply.username}"></p></a>
                                    <p style="float: left;color: #bd081c" th:text="'(id:'+${reply.userId}+')'"></p>
                                    <p style="float: right;color: #6F6F6F;font-size: 15px;font-weight: 500" th:text="${reply.createTime}"></p>
                                </div>
                                <div>
                                    <p style="word-wrap: break-word;" th:text="${reply.content}"></p>
                                </div>
                                <p style="float: right"><span th:text="${5*p-5}+${replyStat.index+1}+'楼 '"></span><a style="color: red" class="agile-icon" href="javascript:void(0);" th:onclick="report([[${reply.id}]],true)"><i class="fa fa-exclamation-triangle"></i>举报</a></p>
                            </div>
                        </div>
<!--                        <table width="100%">-->
<!--                            <tr>-->
<!--                                <td rowspan="2"><div style="width:60px; height:60px; border-radius:50%; overflow:hidden;">-->
<!--                                    <img src="/show?fileName=1c0a3cd803d24afc97da0179d0526eff.jpg" width="60" height="60" >-->
<!--                                </div></td>-->
<!--                                <td rowspan="2">&nbsp;&nbsp;</td>-->
<!--                                <td colspan="2" style="font-weight: 600;color: #777777"><span th:text="${reply.username}"></span><span align="right" th:text="${reply.createTime}"></span> </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td style="font-weight: 300"><span th:text="${reply.content}"></span> </td>-->
<!--                                <td align="right"><span th:text="${replyStat.index}"></span> </td>-->
<!--                            </tr>-->
<!--                        </table>-->
                        <div class="clearfix"> </div>
                    </div>
                    </div>
                    <div id="page" align="center">
                        <a href="javascript:void(0);" onclick="previousPage()">上一页</a>
                        &nbsp;<span id="pageNum">1</span>&nbsp;
                        <a href="javascript:void(0);" onclick="nextPage()">下一页</a><br>
                        <span th:text="共+${page}+页"></span>
                    </div>
                </div>
                <!-- agile-comments -->
                <div th:if="${loginId!=null}" class="agile-news-comments">
                    <div class="agile-news-comments-info">
                        <h4>发表评论</h4>
                        <textarea id="replyContent" style="width: 100%;height: 100px"></textarea>
                        <h3><a class="label label-warning" id="btn1">发布</a></h3>
                    </div>
                </div>
                <div th:if="${loginId==null}" class="agile-news-comments">
                    <div class="agile-news-comments-info">
                        <h4>发表评论</h4>
                        <h4 align="center"><a class="label label-warning" href="#" data-toggle="modal" data-target="#myModal">登录</a></h4>
                    </div>
                </div>
                <!-- //agile-comments -->
                <div class="news-related">

                </div>
            </div>
            <div class="col-md-4 wthree-news-right">
                <!-- news-right-top -->
                <div class="news-right-top">
                    <div align="center" class="wthree-news-right-top">
                        <h3>影评人</h3>
                        <br>
                        <div style="width:200px; height:200px; border-radius:50%; overflow:hidden;">
                        <img src="/show?fileName=1c0a3cd803d24afc97da0179d0526eff.jpg" width="200" height="200">
                        </div>
                        <br>
                        <h3><a th:href="@{'userInfo?id='+${movieComment.userId}}"><span th:text="${writer.username}"></span></a>&nbsp;<a th:onclick="show([[${writer.username}]],[[${writer.id}]]);" style="color: red" class="agile-icon" href="#"><i class="fa fa-envelope-o"></i></a></h3>
                        <br>
                        <h4><span id="followNum" th:text="${writer.followNum}"></span>个粉丝</h4>
                        <br>
                        <h3><a style="text-decoration:none" href="javascript:void(0);" onclick="follow()"><span class="label label-warning" th:if="not ${writer.followState}" id="followState">关注</span><span class="label label-default" th:if="${writer.followState}" id="followState">已关注</span></a></h3>
                        <br>
                        <br>
                        <h4><span th:text="${writer.introduction}"></span></h4>
                    </div>
                </div>
                </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //faq-banner -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>订阅我们的消息</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="您的邮箱" required="">
                            <input type="submit" value="订阅">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="index.html"><h2>SP<span>movie</span></h2></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>Copyright &copy; 2020.Company name All rights reserved.</p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="#">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<script type="text/javascript" src="js/wangEditor.min.js"></script>
<script th:inline="javascript">
    // var E = window.wangEditor
    // var editor = new E('#editor')
    // // 或者 var editor = new E( document.getElementById('editor') )
    // editor.create()
    var page=[[${page}]];
    var id=[[${movieComment.id}]];
    var userId=[[${movieComment.userId}]];
    var movieId=[[${movieComment.movieId}]];
    var date=[[${movieComment.createTime.toLocalDate()}]];
    var pageNum= document.getElementById("pageNum").textContent;
    var desc=1;
    var order=[[${order}]];
    function follow() {
        var state1=document.getElementById("followState");
        var state0=state1.innerText;
        var class0=state1.className;
        var followNum=document.getElementById("followNum").innerText;
        var f=followNum;
        if (state1.innerText=="关注"){
            followNum++;
            state1.innerText="已关注";
            state1.className="label label-default";
        }else {
            followNum--;
            state1.innerText="关注";
            state1.className="label label-warning";
        }
        document.getElementById("followNum").innerText=followNum;
        $.ajax({
            url:"follow",
            data:{"followId":userId},
            async:true,
            type:"get",
            dataType:"json",
            success:function(state){
                if (state==0){
                    document.getElementById("followNum").innerText=f;
                    state1.innerText=state0;
                    state1.className=class0;
                    alert("不能关注自己");
                }
                if (state==1){
                    alert("关注成功");
                }
                if (state==-1){
                    alert("取消关注成功");
                }
                if (state==2){
                    alert("未登录")
                    window.location("/login")
                }
            },
            error:function(error) {
                alert("未登录");
                window.location="/login"
            }
        });
    }
    function like() {
        var likeColor=document.getElementById("likeButton");
        var likeNum=document.getElementById("likeNum").innerText;
        $.ajax({
            url:"like",
            data:{"commentId":id,"movieId":movieId,"localDate":date},
            async:false,
            type:"post",
            dataType:"json",
            success:function(state){
                if (state==0){
                    alert("未登录")
                    window.location = "/login"
                }
            },
            error:function(error) {
                alert("服务器繁忙");

            }
        });
        if (likeColor.style.color=="lightsteelblue"){
            likeColor.style.color="deeppink";
            likeNum++;
            document.getElementById("likeNum").innerText=likeNum;
        }
        else{
            likeColor.style.color="lightsteelblue";
            likeNum--;
            document.getElementById("likeNum").innerText=likeNum;
        }

    }
    function nextPage() {
        if (order==null){
            order=0;
        }
       if (pageNum<page){
           pageNum++;
           $('#replySpace').load("/getReply?id="+id+"&page="+pageNum+"&order="+order);
           document.getElementById("pageNum").innerText = pageNum;
           location.href = "#replyList";
       }
    }
    function previousPage() {
        if (order==null){
            order=0;
        }
        console.log("后退"+order)
        if(pageNum>1){
            pageNum--;
            $('#replySpace').load("/getReply?id="+id+"&page="+pageNum+"&order="+order);
            document.getElementById("pageNum").innerText = pageNum;
            location.href = "#replyList";
        }
    }
    function toOrderDesc(){
        location.href = "movieComment?id="+id+"&order="+desc;

    }
    function toOrder(){
        location.href = "movieComment?id="+id;
    }
    document.getElementById('btn1').addEventListener('click', function () {
        if(document.getElementById('replyContent').value.length==0){
            alert("回复不能为空")
        }else {
            $.ajax({
                url:"saveReply",    //请求的url地址
                dataType:"json",   //返回格式为json
                async:true,//请求是否异步，默认为异步，这也是ajax重要特性
                data:{"movieCommentId":id,"replyId":0,"content":document.getElementById('replyContent').value},    //参数值
                type:"POST",   //请求方式
                success:function(req){
                    alert("成功")
                    location.href = "movieComment?id="+id+"&order="+desc;
                    //请求成功时处理
                },
                error:function(){
                    alert("error")
                    //请求出错处理
                }
            });}
        // 读取 html
        // document.getElementById("aaa").innerHTML = editor.txt.html();
    }, false)
    function show(username,sendId) {
        document.getElementById("replyUsername").innerText=username
        document.getElementById("replyId").innerText=sendId
        let modal = document.getElementById("modal")
        modal.style.display = "block"
        modal.style.top = document.documentElement.scrollTop + 'px'
        document.body.style = "overflow-y: hidden;overflow-x: hidden;"
    }
    function remove() {
        let modal = document.getElementById("modal")
        modal.style.display = "none"
        document.body.style = ""
        document.getElementById("title").value=""
        document.getElementById("content").value=""
    }
    function sendMessage() {
        $.ajax({
            url:"sendMessage",
            data:{"receiveId":document.getElementById("replyId").innerText,"title":document.getElementById("title").value,"content":document.getElementById("content").value},
            async:false,
            type:"post",
            dataType:"json",
            success:function(state){
                if (state==1){
                    alert("发送成功");
                }
                if (state==0){
                    alert("用户不存在")
                }
                if (state==-1){
                    alert("小伙子，你被他拉黑了")
                }
                remove();
            },
            error:function(error) {
                alert("服务器繁忙");
                alert(error);
            }
        });

    }

    function report(id, state) {
        $.ajax({
            url:"/report",
            data:{"state":state,"id":id},
            async:false,
            type:"get",
            dataType:"json",
            success:function(num){
                if (num==-1)
                    alert("请勿重复举报")
                else
                    alert("举报人数"+num)
            },
            error:function(error) {
                alert("未登录");
            }
        });
    }
    function getMessageState() {
        $.ajax({
            url:"getMessageState",    //请求的url地址
            dataType:"json",   //返回格式为json
            async:true,//请求是否异步，默认为异步，这也是ajax重要特性
            data:{},    //参数值
            type:"GET",   //请求方式
            success:function(req){
                if (req==1){
                    document.getElementById("messageState").innerText="有新消息"
                }
                //请求成功时处理
            },
            error:function(){
                //请求出错处理
            }
        });}

    function login() {
        var email=document.getElementById("email").value;
        var password=document.getElementById("password").value;
        $.ajax({
            url:"/loginSpace",    //请求的url地址
            dataType:"json",   //返回格式为json
            async:false,//请求是否异步，默认为异步，这也是ajax重要特性
            data:{"email":email,"password":password},    //参数值
            type:"POST",   //请求方式
            success:function(req){
                if (req==-1){
                    alert("密码错误")
                }
                if (req==0){
                    alert("账号状态异常")
                }
                if (req==1){
                    alert("登录成功")
                    location.reload();
                }
                //请求成功时处理
            },
            error:function(){
                //请求出错处理
            }
        });
    }
</script>
</body>
</html>