<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>电影信息</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style1.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/faqstyle.css" type="text/css" media="all" />
    <link href="css/medile.css" rel='stylesheet' type='text/css' />
    <link href="css/single.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/contactstyle.css" type="text/css" media="all" />
    <!-- news-css -->
    <link rel="stylesheet" href="news-css/news.css" type="text/css" media="all" />
    <!-- //news-css -->
    <!-- list-css -->
    <link rel="stylesheet" href="list-css/list.css" type="text/css" media="all" />
    <!-- //list-css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- //js -->
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
</head>
<body onload="getMessageState()">
<!--<div th:utext="${movieComment.getContent()}"></div>-->
<!-- header -->
<div class="header">
    <div class="container">
        <div class="w3layouts_logo">
            <a href="index.html"><h1>SP<span>Movie</span></h1></a>
        </div>
        <div class="w3_search">
            <form action="/search" method="get">
                <input type="text" name="name" placeholder="输入搜索内容" required="">
                <input type="submit" value="搜索">
            </form>
        </div>
        <div th:if="${loginId==null}" class="w3l_sign_in_register">
            <ul>
                <li><a href="#" data-toggle="modal" data-target="#myModal">登录</a></li>
            </ul>
        </div>
        <div th:if="${loginId!=null}" class="w3l_sign_in_register">
            <ul>
                <li><a href="/message"  target="_blank"><span class="fa fa-bell"></span><span id="messageState">无新消息</span></a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                登 录 & 注 册
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Click Me</div>
                            </div>
                            <div class="form">
                                <h3>登 录</h3>
                                <input id="email" type="text" name="email" placeholder="邮箱" required="">
                                <input id="password" type="password" name="password" placeholder="password" required="">
                                <input onclick="login()" type="submit" value="登录">
                            </div>
                            <div class="form">
                                <h3>注 册</h3>
                                <form action="/create" method="post">
                                    <input type="text" name="username" placeholder="昵称" required="">
                                    <input type="text" name="email" placeholder="邮箱" required="">
                                    <input type="password" name="password" placeholder="密码" required="">
                                    <input type="submit" value="注册">
                                </form>
                            </div>
                            <div class="cta"><a href="#">忘记密码</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $('.toggle').click(function(){
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
<div class="movies_nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="w3_home_act"><a href="/index">主页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">分类 <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3" style="width: 10px">
                                <li>
                                    <div>
                                        <ul class="multi-column-dropdown">
                                            <li><a href="/movieSelect?state=1">科幻</a></li>
                                            <li><a href="/movieSelect?state=2">喜剧</a></li>
                                            <li><a href="/movieSelect?state=3">恐怖</a></li>
                                            <li><a href="/movieSelect?state=4">爱情</a></li>
                                            <li><a href="/movieSelect?state=5">悬疑</a></li>
                                            <li><a href="/movieSelect?state=6">动作</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/movieRank">排行榜</a></li>
                        <li><a href="/userInfo">我的影评</a></li>
                        <li><a href="/message">我的消息</a></li>
                        <li><a href="/settings">设置</a></li>
                        <li><a th:if="${loginId!=null}" href="/loginOut">注销</a><a th:if="${loginId==null}" href="#" data-toggle="modal" data-target="#myModal">登录</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!--</div>-->
<!-- faq-banner -->
<div class="faq">
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <li><a href="/index">主页</a></li>
                <li><a th:href="@{'movieInfo?movieId='+${commentList.get(0).movieId}}"><span th:text="${commentList.get(0).name}"></span></a></li>
                <li>影评列表</li>
            </ol>
        </div>
        <div class="agileinfo-news-top-grids">
            <div  th:fragment="commentListSpace" id="commentListSpace">
            <div class="col-md-8 wthree-top-news-left" th:if="${page} eq 0">
                <div class="wthree-news-left">
                    <h3>影评<a href="javascript:void(0);" onclick="toTime()" style="font-size: 15px;float: right;color: #777777">时间排序</a><a href="#" style="font-size: 15px;float: right;color: #777777">热度排序/</a> </h3>
                    <div th:each="comment:${commentList}" class="wthree-news-top-left">
                        <table>
                            <tr>
                                <td rowspan="3"><div style="width:60px; height:60px; border-radius:50%; overflow:hidden;">
                                    <img th:src="'/show?fileName=userHead'+${comment.userId}+'.jpg'" width="60" height="60" >
                                </div></td>
                                <td rowspan="3">&nbsp;&nbsp;</td>
                                <td style="font-weight: 600;color: #777777;width: 20%"><a th:href="'userInfo?id='+${comment.userId}"><span th:text="${comment.username}"></span><span style="color: red;font-size: 80%" th:text="'(id='+${comment.userId}+')'"></span> </a></td>
                                <td align="right" width="90%" style="font-weight: 500;color: #bb7b29">评分:<span th:text="${comment.score}"></span></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-weight: 300"><a th:href="@{'movieComment?id='+${comment.id}}"><span th:text="${comment.title}"></span></a></td>
                            </tr>
                            <tr>
                                <td style="font-size: 13px"><span th:text="${maxLikeList.get(commentStat.index).score.intValue()}"></span><span style="color: red">❤</span> </td>
                                <td style="font-weight: 500;color: #777777;font-size: 13px" align="right"><span th:text="${comment.createTime.toLocalDate()}"></span></td>
                            </tr>
                        </table>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 wthree-top-news-left" th:if="${page} ne 0">
                <div class="wthree-news-left">
                    <h3>影评<a href="javascript:void(0);" onclick="toTime()" style="font-size: 15px;float: right;color: #777777">时间排序</a><a href="javascript:void(0);" onclick="toHot()" style="font-size: 15px;float: right;color: #777777">热度排序/</a> </h3>
                    <div th:each="comment:${commentList}" class="wthree-news-top-left">
                        <table>
                            <tr>
                                <td rowspan="3"><div style="width:60px; height:60px; border-radius:50%; overflow:hidden;">
                                    <img th:src="'/show?fileName=userHead'+${comment.userId}+'.jpg'" width="60" height="60" >
                                </div></td>
                                <td rowspan="3">&nbsp;&nbsp;</td>
                                <td style="font-weight: 600;color: #777777"><a th:href="'userInfo?id='+${comment.userId}"><span th:text="${comment.username}"></span><span style="color: red;font-size: 80%" th:text="'(id='+${comment.userId}+')'"></span></a></td>
                                <td align="right" width="90%" style="font-weight: 500;color: #bb7b29">评分:<span th:text="${comment.score}"></span></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-weight: 300"><a th:href="@{'movieComment?id='+${comment.id}}"><span th:text="${comment.title}"></span></a></td>
                            </tr>
                            <tr>
                                <td style="font-size: 13px"> </td>
                                <td style="font-weight: 500;color: #777777;font-size: 13px" align="right"><span th:text="${comment.createTime.toLocalDate()}"></span></td>
                            </tr>
                        </table>
                        <div class="clearfix"> </div>
                    </div>
                    <div name="page" th:if="${page} ne 0" align="center">
                        <a href="javascript:void(0);" onclick="previousPage()">上一页</a>
                        &nbsp;<span id="pageNum" th:text="${pageNum}"></span>&nbsp;
                        <a href="javascript:void(0);" onclick="nextPage()">下一页</a><br>
                        共<span id="page" th:text="${page}"></span>页
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-4 single-right">
                <h3>推荐</h3>
                <div class="single-grid-right">
                    <div th:each="movieRecommend:${recommend}" class="single-right-grids">
                        <div class="col-md-4 single-right-grid-left">
                            <a th:href="'movieInfo?movieId='+${movieRecommend.id}"><img src="images/m1.jpg" alt=""></a>
                        </div>
                        <div class="col-md-8 single-right-grid-right">
                            <a th:href="'movieInfo?movieId='+${movieRecommend.id}" th:text="${movieRecommend.name}" class="title"></a>
                            <p class="author">评分：<a href="#" class="author" th:text="${movieRecommend.avg}"></a></p>
                            <p class="views" >评分人数：<span th:text="${movieRecommend.hot}"></span></p>
                            <p class="views" th:text="${movieRecommend.time}"></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //faq-banner -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>订阅我们的消息</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="您的邮箱" required="">
                            <input type="submit" value="订阅">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="index.html"><h2>SP<span>movie</span></h2></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>Copyright &copy; 2020.Company name All rights reserved.</p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="#">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<script type="text/javascript" th:inline="javascript">
    var id=[[${commentList.get(0).movieId}]];
    function nextPage() {
        var page=document.getElementById("page").textContent;
        var pageNum=document.getElementById("pageNum").innerText;
        console.log(pageNum);
        console.log(page);
        if (parseInt(pageNum)<parseInt(page)){
            pageNum++;
            $('#commentListSpace').load("/getCommentListAsTime?movieId="+id+"&page="+pageNum);
        }
    }
    function previousPage() {
        var pageNum=document.getElementById("pageNum").textContent;
        if(parseInt(pageNum)>1){
            pageNum--;
            $('#commentListSpace').load("/getCommentListAsTime?movieId="+id+"&page="+pageNum);
        }
    }
    function toHot() {
        $('#commentListSpace').load("/movieCommentList?movieId="+id+"&state=1");
    }
    function toTime() {
        $('#commentListSpace').load("/getCommentListAsTime?movieId="+id+"&page=1");
    }
    function getMessageState() {
        $.ajax({
            url:"getMessageState",    //请求的url地址
            dataType:"json",   //返回格式为json
            async:true,//请求是否异步，默认为异步，这也是ajax重要特性
            data:{},    //参数值
            type:"GET",   //请求方式
            success:function(req){
                if (req==1){
                    document.getElementById("messageState").innerText="有新消息"
                }
                //请求成功时处理
            },
            error:function(){
                //请求出错处理
            }
        });}

    function login() {
        var email=document.getElementById("email").value;
        var password=document.getElementById("password").value;
        $.ajax({
            url:"/loginSpace",    //请求的url地址
            dataType:"json",   //返回格式为json
            async:false,//请求是否异步，默认为异步，这也是ajax重要特性
            data:{"email":email,"password":password},    //参数值
            type:"POST",   //请求方式
            success:function(req){
                if (req==-1){
                    alert("密码错误")
                }
                if (req==0){
                    alert("账号状态异常")
                }
                if (req==1){
                    alert("登录成功")
                    location.reload();
                }
                //请求成功时处理
            },
            error:function(){
                //请求出错处理
            }
        });
    }
</script>
</body>
</html>