<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人物信息</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style1.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/faqstyle.css" type="text/css" media="all" />
    <link href="css/medile.css" rel='stylesheet' type='text/css' />
    <link href="css/single.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/contactstyle.css" type="text/css" media="all" />
    <!-- news-css -->
    <link rel="stylesheet" href="news-css/news.css" type="text/css" media="all" />
    <!-- //news-css -->
    <!-- list-css -->
    <link rel="stylesheet" href="list-css/list.css" type="text/css" media="all" />
    <!-- //list-css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!--<style>-->
    <!--    /* table 样式 */-->
    <!--    table {-->
    <!--        border-top: 1px solid #ccc;-->
    <!--        border-left: 1px solid #ccc;-->
    <!--    }-->
    <!--    table td,-->
    <!--    table th {-->
    <!--        border-bottom: 1px solid #ccc;-->
    <!--        border-right: 1px solid #ccc;-->
    <!--        padding: 3px 5px;-->
    <!--    }-->
    <!--    table th {-->
    <!--        border-bottom: 2px solid #ccc;-->
    <!--        text-align: center;-->
    <!--    }-->

    <!--    /* blockquote 样式 */-->
    <!--    blockquote {-->
    <!--        display: block;-->
    <!--        border-left: 8px solid #d0e5f2;-->
    <!--        padding: 5px 10px;-->
    <!--        margin: 10px 0;-->
    <!--        line-height: 1.4;-->
    <!--        font-size: 100%;-->
    <!--        background-color: #f1f1f1;-->
    <!--    }-->

    <!--    /* code 样式 */-->
    <!--    code {-->
    <!--        display: inline-block;-->
    <!--        *display: inline;-->
    <!--        *zoom: 1;-->
    <!--        background-color: #f1f1f1;-->
    <!--        border-radius: 3px;-->
    <!--        padding: 3px 5px;-->
    <!--        margin: 0 3px;-->
    <!--    }-->
    <!--    pre code {-->
    <!--        display: block;-->
    <!--    }-->

    <!--    /* ul ol 样式 */-->
    <!--    ul, ol {-->
    <!--        margin: 10px 0 10px 20px;-->
    <!--    }-->
    <!--</style>-->
</head>
<body onload="getMessageState()">
<!--<div th:utext="${movieComment.getContent()}"></div>-->
<!-- header -->
<div class="header">
    <div class="container">
        <div class="w3layouts_logo">
            <a href="index.html"><h1>SP<span>Movie</span></h1></a>
        </div>
        <div class="w3_search">
            <form action="/search" method="get">
                <input type="text" name="name" placeholder="输入搜索内容" required="">
                <input type="submit" value="搜索">
            </form>
        </div>
        <div th:if="${loginId==null}" class="w3l_sign_in_register">
            <ul>
                <li><a href="#" data-toggle="modal" data-target="#myModal">登录</a></li>
            </ul>
        </div>
        <div th:if="${loginId!=null}" class="w3l_sign_in_register">
            <ul>
                <li><a href="/message"  target="_blank"><span class="fa fa-bell"></span><span id="messageState">无新消息</span></a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                登 录 & 注 册
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Click Me</div>
                            </div>
                            <div class="form">
                                <h3>登 录</h3>
                                <input id="email" type="text" name="email" placeholder="邮箱" required="">
                                <input id="password" type="password" name="password" placeholder="password" required="">
                                <input onclick="login()" type="submit" value="登录">
                            </div>
                            <div class="form">
                                <h3>注 册</h3>
                                <form action="/create" method="post">
                                    <input type="text" name="username" placeholder="昵称" required="">
                                    <input type="text" name="email" placeholder="邮箱" required="">
                                    <input type="password" name="password" placeholder="密码" required="">
                                    <input type="submit" value="注册">
                                </form>
                            </div>
                            <div class="cta"><a href="#">忘记密码</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $('.toggle').click(function(){
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
<div class="movies_nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li class="w3_home_act"><a href="/index">主页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">分类 <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3" style="width: 10px">
                                <li>
                                    <div>
                                        <ul class="multi-column-dropdown">
                                            <li><a href="/movieSelect?state=1">科幻</a></li>
                                            <li><a href="/movieSelect?state=2">喜剧</a></li>
                                            <li><a href="/movieSelect?state=3">恐怖</a></li>
                                            <li><a href="/movieSelect?state=4">爱情</a></li>
                                            <li><a href="/movieSelect?state=5">悬疑</a></li>
                                            <li><a href="/movieSelect?state=6">动作</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/movieRank">排行榜</a></li>
                        <li><a href="/userInfo">我的影评</a></li>
                        <li><a href="/message">我的消息</a></li>
                        <li><a href="/settings">设置</a></li>
                        <li><a th:if="${loginId!=null}" href="/loginOut">注销</a><a th:if="${loginId==null}" href="#" data-toggle="modal" data-target="#myModal">登录</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- faq-banner -->
<div class="faq">
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="news.html">News</a></li>
                <li class="active">Single</li>
            </ol>
        </div>
        <div class="agileinfo-news-top-grids">
            <div class="col-md-8 wthree-top-news-left">
                <div class="wthree-news-left">
                    <div class="wthree-news-left-img">
                        <h4><span th:text="${person.name}"></span></h4>
                        <div id="fb-root"></div>
                        <!--                        <div class="news-shar-buttons">-->
                        <!--                            <ul>-->
                        <!--                                <li>-->
                        <!--                                    <div class="fb-like" data-href="https://www.facebook.com/w3layouts" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>-->
                        <!--                                    <script>(function(d, s, id) {-->
                        <!--                                        var js, fjs = d.getElementsByTagName(s)[0];-->
                        <!--                                        if (d.getElementById(id)) return;-->
                        <!--                                        js = d.createElement(s); js.id = id;-->
                        <!--                                        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";-->
                        <!--                                        fjs.parentNode.insertBefore(js, fjs);-->
                        <!--                                    }(document, 'script', 'facebook-jssdk'));</script>-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    <div class="fb-share-button" data-href="https://www.facebook.com/w3layouts" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fw3layouts&amp;src=sdkpreparse">Share</a></div>-->
                        <!--                                </li>-->
                        <!--                                <li class="news-twitter">-->
                        <!--                                    <a href="https://twitter.com/w3layouts" class="twitter-follow-button" data-show-count="false">Follow @w3layouts</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    <a href="https://twitter.com/intent/tweet?screen_name=w3layouts" class="twitter-mention-button" data-show-count="false">Tweet to @w3layouts</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    &lt;!&ndash; Place this tag where you want the +1 button to render. &ndash;&gt;-->
                        <!--                                    <div class="g-plusone" data-size="medium"></div>-->

                        <!--                                    &lt;!&ndash; Place this tag after the last +1 button tag. &ndash;&gt;-->
                        <!--                                    <script type="text/javascript">-->
                        <!--                                        (function() {-->
                        <!--                                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;-->
                        <!--                                            po.src = 'https://apis.google.com/js/platform.js';-->
                        <!--                                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);-->
                        <!--                                        })();-->
                        <!--                                    </script>-->
                        <!--                                </li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                        <div>
                            <div style="float: left">
                                <img src="images/m1.jpg" height="412" width="287" alt="" />
                            </div>
                            <div style="float: right;width: 370px">
                                <div class="clearfix"></div>
                                <br><span class="pMovieInfo">英文名:&nbsp;&nbsp;&nbsp; &nbsp; <span th:text="${person.engName}"></span></span>
                                <br><br><span class="pMovieInfo">性别: &nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${person.sexString()}"></span></span>
                                <br><br><span class="pMovieInfo">职业: &nbsp;&nbsp;&nbsp;&nbsp;<span th:each="job:${jobList}"><span th:switch="${job}"><span th:case="1">导演</span><span th:case="2">编剧</span><span th:case="3">演员</span></span>&nbsp;&nbsp;</span></span>
                                <br><br><span class="pMovieInfo">国家:&nbsp;&nbsp;&nbsp; &nbsp; <span th:text="${person.country}"></span></span>
                                <br><br><span class="pMovieInfo">出生日期:&nbsp;&nbsp;&nbsp; &nbsp; <span th:text="${person.born}"></span></span>
                            </div>
                            <div class="clearfix"></div>
                            <div>
                                <h4 class="single">人物简介</h4>
                                <p class="pMovieInfo"> <span th:text="${person.info}"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wthree-related-news-left">
                    <h4>影评<a href="#" style="font-size: 15px;float: right;color: #777777">more</a> </h4>
                    <div class="wthree-news-top-left">
                        <table>
                            <tr>
                                <td rowspan="3"><div style="width:60px; height:60px; border-radius:50%; overflow:hidden;">
                                    <img src="/show?fileName=1c0a3cd803d24afc97da0179d0526eff.jpg" width="60" height="60" >
                                </div></td>
                                <td rowspan="3">&nbsp;&nbsp;</td>
                                <td style="font-weight: 600;color: #777777">易雨寒</td>
                                <td align="right" width="80%" style="font-weight: 500;color: #bb7b29">评分9</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-weight: 300"><a href="#">点赞数圣诞快乐房价是独立访客受到法律</a></td>
                            </tr>
                            <tr>
                                <td style="font-size: 13px">99<span style="color: red">❤</span> </td>
                                <td style="font-weight: 500;color: #777777;font-size: 13px" align="right">2019-99-99</td>
                            </tr>
                        </table>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="wthree-news-top-left">
                        <table>
                            <tr>
                                <td rowspan="3"><div style="width:60px; height:60px; border-radius:50%; overflow:hidden;">
                                    <img src="/show?fileName=1c0a3cd803d24afc97da0179d0526eff.jpg" width="60" height="60" >
                                </div></td>
                                <td rowspan="3">&nbsp;&nbsp;</td>
                                <td style="font-weight: 600;color: #777777">易雨寒</td>
                                <td align="right" width="80%" style="font-weight: 500;color: #bb7b29">评分9</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-weight: 300"><a href="#">点赞数圣诞快乐房价是独立访客受到法律</a></td>
                            </tr>
                            <tr>
                                <td style="font-size: 13px">99<span style="color: red">❤</span> </td>
                                <td style="font-weight: 500;color: #777777;font-size: 13px" align="right">2019-99-99</td>
                            </tr>
                        </table>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!-- agile-comments -->
<!--                <div class="agile-news-comments">-->
<!--                    <div class="agile-news-comments-info">-->
<!--                        <h4>发表影评</h4>-->
<!--                    </div>-->
<!--                </div>-->
                <!-- //agile-comments -->
                <div class="news-related">

                </div>
            </div>
            <div class="col-md-4 wthree-news-right">
                <!-- news-right-top -->
                <div class="news-right-top">
                    <div class="wthree-news-right-heading">
                        <h3>参与的电影<span style="float: right"><a href="#" style="color: white">more</a> </span></h3>
                    </div>
                    <div style="height: 800px" class="wthree-news-right-top">
                        <div th:each="movie:${personMovieList}" style="float: left;width: 50%">
                            <div align="center">
                                <a th:href="@{'movieInfo?movieId='+${movie.movieId}}" ><img src="images/m7.jpg" width="156" height="216" title="海报" alt=" " />
                                </a></div>
                            <div align="center" class="mid-1">
                                <h4><a th:href="@{'movieInfo?movieId='+${movie.movieId}}"><span th:text="${movie.movieName}"></span></a></h4>
                                <div class="mid-1">
                                    <p th:text="${movie.time}"></p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //faq-banner -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>订阅我们的消息</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="您的邮箱" required="">
                            <input type="submit" value="订阅">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="index.html"><h2>SP<span>movie</span></h2></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>Copyright © 2020.Company name All rights reserved.</p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="#">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
    function getMessageState() {
        $.ajax({
            url:"getMessageState",    //请求的url地址
            dataType:"json",   //返回格式为json
            async:true,//请求是否异步，默认为异步，这也是ajax重要特性
            data:{},    //参数值
            type:"GET",   //请求方式
            success:function(req){
                if (req==1){
                    document.getElementById("messageState").innerText="有新消息"
                }
                //请求成功时处理
            },
            error:function(){
                //请求出错处理
            }
        });}

    function login() {
        var email=document.getElementById("email").value;
        var password=document.getElementById("password").value;
        $.ajax({
            url:"/loginSpace",    //请求的url地址
            dataType:"json",   //返回格式为json
            async:false,//请求是否异步，默认为异步，这也是ajax重要特性
            data:{"email":email,"password":password},    //参数值
            type:"POST",   //请求方式
            success:function(req){
                if (req==-1){
                    alert("密码错误")
                }
                if (req==0){
                    alert("账号状态异常")
                }
                if (req==1){
                    alert("登录成功")
                    location.reload();
                }
                //请求成功时处理
            },
            error:function(){
                //请求出错处理
            }
        });
    }
</script>
<!-- //here ends scrolling icon -->
</body>
</html>