<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<title>个人设置</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style1.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/single.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/contactstyle.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/faqstyle.css" type="text/css" media="all" />
<link href="css/medile.css" rel='stylesheet' type='text/css' />
<!-- font-awesome icons -->
<link rel="stylesheet" href="css/font-awesome.min.css" />
<!-- //font-awesome icons -->
<!-- js -->
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<!-- //js -->
<!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
<script src="js/owl.carousel.js"></script>
<script>
	$(document).ready(function() { 
		$("#owl-demo").owlCarousel({
	 
		  autoPlay: 3000, //Set AutoPlay to 3 seconds
	 
		  items : 5,
		  itemsDesktop : [640,5],
		  itemsDesktopSmall : [414,4]
	 
		});
	 
	}); 
</script> 
</head>

<body>
<!--<div th:utext="${movieComment.getContent()}"></div>-->
<!-- header -->
<div class="header">
	<div class="container">
		<div class="w3layouts_logo">
			<a href="index.html"><h1>SP<span>Movie</span></h1></a>
		</div>
		<div class="w3_search">
			<form action="/search" method="get">
				<input type="text" name="name" placeholder="输入搜索内容" required="">
				<input type="submit" value="搜索">
			</form>
		</div>
		<div class="w3l_sign_in_register">
			<ul>
				<li><a href="/message"  target="_blank"><span class="fa fa-bell"></span><span id="messageState">无新消息</span></a></li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
<script>
	$('.toggle').click(function(){
		// Switches the Icon
		$(this).children('i').toggleClass('fa-pencil');
		// Switches the forms
		$('.form').animate({
			height: "toggle",
			'padding-top': 'toggle',
			'padding-bottom': 'toggle',
			opacity: "toggle"
		}, "slow");
	});
</script>
<!-- //bootstrap-pop-up -->
<!-- nav -->
<div class="movies_nav">
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav>
					<ul class="nav navbar-nav">
						<li class="w3_home_act"><a href="/index">主页</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">分类 <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3" style="width: 10px">
								<li>
									<div>
										<ul class="multi-column-dropdown">
											<li><a href="/movieSelect?state=1">科幻</a></li>
											<li><a href="/movieSelect?state=2">喜剧</a></li>
											<li><a href="/movieSelect?state=3">恐怖</a></li>
											<li><a href="/movieSelect?state=4">爱情</a></li>
											<li><a href="/movieSelect?state=5">悬疑</a></li>
											<li><a href="/movieSelect?state=6">动作</a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</li>
							</ul>
						</li>
						<li><a href="/movieRank">排行榜</a></li>
						<li><a href="/userInfo">我的影评</a></li>
						<li><a href="/message">我的消息</a></li>
						<li><a href="/settings">设置</a></li>
						<li><a href="/loginOut">注销</a></li>
					</ul>
				</nav>
			</div>
		</nav>
	</div>
</div>
	<div class="faq">
<!-- general -->
	<div class="general_agileits_genres">
		<h4 class="latest-text w3_latest_text">个人设置</h4>
		<div class="container">
            <div class="agileits-single-top">
				<ol class="breadcrumb">
				  <li><a href="index.html">Home</a></li>
				  <li class="active">个人设置</li>
				</ol>
			</div>
		</div>
		<div class="container">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">修改个人信息</a></li>
					<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">修改密码</a></li>
					<li role="presentation"><a href="#rating" onclick="blackList()" id="rating-tab" role="tab" data-toggle="tab" aria-controls="rating" aria-expanded="true">管理黑名单</a></li>
<!--					<li role="presentation"><a href="#imdb" role="tab" id="imdb-tab" data-toggle="tab" aria-controls="imdb" aria-expanded="false">Recently Added</a></li>-->
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab" >
						<div class="w3_agile_featured_movies" align="center">
							<div style="width:200px; height:200px; border-radius:50%; overflow:hidden;">
								<img src="/show?fileName=1c0a3cd803d24afc97da0179d0526eff.jpg" width="200" height="200">
							</div>
							<div><a href="javascript:void(0)" onclick="uploadImage()"><h3 class="glyphicon glyphicon-camera" aria-hidden="true"></h3></a></div>
							<div style="display:flex;justify-content:center;align-items:center;">
								<div class="input-group input-group-lg w3_w3layouts">
									<span class="input-group-addon">用户昵称</span>
									<input id="username" type="text" class="form-control" style="width: 300px" th:value="${userInfo.username}" aria-describedby="sizing-addon1">
								</div>
							</div>
							<div style="display:flex;justify-content:center;align-items:center;">
								<div class="input-group input-group-lg w3_w3layouts">
									<span class="input-group-addon">用户签名</span>
									<input id="introduction" type="text" class="form-control" style="width: 300px" th:value="${userInfo.introduction}" aria-describedby="sizing-addon1">
								</div>
							</div>
							<div><h3><a href="javascript:void(0);" onclick="updateUserInfo()" class="label label-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></h3></div>
							<div class="clearfix"> </div>
						</div>

					</div>
					<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab" >
						<div style="display:flex;justify-content:center;align-items:center;">
							<div class="input-group input-group-lg w3_w3layouts">
								<span class="input-group-addon">原密码</span>
								<input id="password" type="password" class="form-control" style="width: 300px" aria-describedby="sizing-addon1">
							</div>
						</div>
						<div style="display:flex;justify-content:center;align-items:center;">
							<div class="input-group input-group-lg w3_w3layouts">
								<span class="input-group-addon">新密码</span>
								<input id="newPassword"  type="password" class="form-control" style="width: 300px" aria-describedby="sizing-addon1">
							</div>
						</div>
						<div align="center"><h3><a href="javascript:void(0);" onclick="updatePassword()" class="label label-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></h3></div>
						<div class="clearfix"> </div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="rating" aria-labelledby="rating-tab">
						<div class="bs-docs-example" th:fragment="blackListSpace" id="blackListSpace">
							<table class="table">
								<thead>
								<tr>
									<th>序号</th>
									<th>id</th>
									<th>用户名</th>
									<th>移除</th>
								</tr>
								</thead>
								<tbody>
								<tr th:id="'tr'+${black.id}" th:each="black:${blackList}">
									<td><span th:text="${blackStat.index+1}"></span></td>
									<td><span th:text="${black.id}"></span></td>
									<td><span th:text="${black.username}"></span></td>
									<td><h4><a href="javascript:void(0);" th:onclick="removeBlackList([[${black.id}]])" class="label label-danger">移除</a></h4></td>
								</tr>
								</tbody>
							</table>
						</div>

						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--body wrapper start-->
	<div class="review-slider">

	</div>
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="w3ls_footer_grid">
			<div class="col-md-6 w3ls_footer_grid_left">
				<div class="w3ls_footer_grid_left1">
					<h2>订阅我们的消息</h2>
					<div class="w3ls_footer_grid_left1_pos">
						<form action="#" method="post">
							<input type="email" name="email" placeholder="您的邮箱" required="">
							<input type="submit" value="订阅">
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6 w3ls_footer_grid_right">
				<a href="index.html"><h2>SP<span>movie</span></h2></a>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="col-md-5 w3ls_footer_grid1_left">
			<p>Copyright &copy; 2020.Company name All rights reserved.</p>
		</div>
		<div class="col-md-7 w3ls_footer_grid1_right">
			<ul>
				<li>
					<a href="#">联系我们</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript" th:inline="javascript">
	var username=unescape([[${userInfo.username}]]);
	var introduction=unescape([[${userInfo.introduction}]]);
	function updateUserInfo() {
		if (username!=document.getElementById("username").value||introduction!=document.getElementById("introduction").value){
			$.ajax({
				url:"updateUserInfo",
				data:{"username":document.getElementById("username").value,"introduction":document.getElementById("introduction").value},
				async:false,
				type:"post",
				dataType:"json",
				success:function(state){
					if (state==1){
						alert("修改成功");
					}else {
						alert("未知错误")
					}
				},
				error:function(error) {
					alert("服务器繁忙");
					alert(error);
				}
			});
			username=document.getElementById("username").value;
			introduction=document.getElementById("introduction").value;
		}
	}
	function updatePassword() {
		$.ajax({
			url:"updatePassword",
			data:{"newPassword":document.getElementById("newPassword").value,"password":document.getElementById("password").value},
			async:false,
			type:"post",
			dataType:"json",
			success:function(state){
				if (state==1){
					alert("修改成功");
				}
				if (state==0){
					alert("密码错误")
				}
				if (state==-1){
					alert("密码不能为空")
				}
			},
			error:function(error) {
				alert("服务器繁忙");
				alert(error);
			}
		});
	}
	function blackList() {
		$('#blackListSpace').load("getBlackList");
	}
	function removeBlackList(id) {
		$.ajax({
			url:"removeBlackList",
			data:{"id":id},
			async:false,
			type:"post",
			dataType:"json",
			success:function(state){
				if (state==1){
					document.getElementById("tr"+id).style.display="none";
					alert("删除成功");
				}
				if (state==0){
					document.getElementById("tr"+id).style.display="none";
					alert("不能重复删除")
				}
			},
			error:function(error) {
				alert("服务器繁忙");
				alert(error);
			}
		});
	}
	function uploadImage() {
		var btn = document.createElement("input");
		btn.type = "file";
		btn.accept = "image/png, image/jpeg";
		btn.onchange = event => {
			var input = event.currentTarget;
			var file = input.files[0]; //获取文件
			var formData = new FormData();
			formData.append("file", file);
			$.ajax({
				url: "/uploadHead",
				type: "POST",
				data: formData,
				processData: false,
				contentType: false,
				async: false,
				success: function (result) {
					console.log(result)
				}
			})
			console.log(file)
		};
		btn.click();
		console.log(event);
	}
</script>
</body>
</html>