<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>wangEditor demo</title>
</head>
<body>
<div id="editor">
	<p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
</div>
<button id="btn1">发布</button>
<button id="btn2">获取text</button>
<div id="aaa"></div>

<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript" src="js/wangEditor.min.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
	var E = window.wangEditor
	var editor = new E('#editor')
	// 或者 var editor = new E( document.getElementById('editor') )
	editor.customConfig.uploadImgServer = '/upload'
	editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024
	editor.customConfig.uploadImgMaxLength = 5
	editor.customConfig.uploadFileName = 'fileName'
	editor.customConfig.uploadImgHooks = {
		before : function(xhr, editor, files) {

		},
		success : function(xhr, editor, result) {
			console.log("上传成功");
		},
		fail : function(xhr, editor, result) {
			console.log("上传失败,原因是"+result);
		},
		error : function(xhr, editor) {
			console.log("上传出错");
		},
		timeout : function(xhr, editor) {
			console.log("上传超时");
		}
	}
	editor.create()
	document.getElementById('btn1').addEventListener('click', function () {
		$.ajax({
			url:"postMovieComment",    //请求的url地址
			dataType:"json",   //返回格式为json
			async:true,//请求是否异步，默认为异步，这也是ajax重要特性
			data:{"userId":1,"content":editor.txt.html(),"title":12345},    //参数值
			type:"POST",   //请求方式
			success:function(req){
				alert("成功")
				//请求成功时处理
			},
			error:function(){
				alert("error")
				//请求出错处理
			}
		});
		// 读取 html
		// document.getElementById("aaa").innerHTML = editor.txt.html();
	}, false)

	document.getElementById('btn2').addEventListener('click', function () {
		// 读取 text
		document.getElementById("aaa").innerHTML = editor.txt.html();
	}, false)

</script>
</body>
</html>